<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elixir Cluster on Render with libcluster</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="https://render.com">
          <img src={Routes.static_path(@conn, "/images/render.png")} alt="Render Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
